html, body {
  font-family: 'PT Serif', serif;
  margin: 0px;
  font-size: 22px;
  text-align: center;
}

/* <!-- ヘッダー --> */

header {
  display: flex;
}

.nav-list {
  display: flex;
  list-style: none;
  margin-top: 40px;
}

.header-logo {
  width: 140px;
  margin-left: 30px;
}

.header-nav {
  margin-left: auto;
}

.nav-item a {
  text-decoration: none;
  color: black;
  margin-right: 40px;
}

/* <!-- トップ画像 --> */

.top_image {
  width: 100%;
}

/* 商品一覧 */

.goods-list {
  display: flex;
}

.goods-item {
  padding: 0 15px;
}

/* レスポンシブ対応 */

@media screen and (max-width: 767px) {
  /* コース一覧 */
  .goods-list {
    flex-flow: column;
  }

  .goods-item {
    margin: 0 auto;
    width: 80%;
  }
}

/* 問い合わせ(入力フォーム) */

.contact {
  display: block;
  margin: 10px auto;
}

/* 問い合わせ（送信ボタン） */

.submit {
  display: block;
  width: 250px;
  margin: 30px auto 0 auto;
  border-radius: 5%;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  padding: 6px 6px;
  background: #000066;
  color: #ffffff;
  transition: .3s;
  box-shadow: 3px 3px 1px #666666;
  border: 2px solid #000066;
}

.submit:hover {
  box-shadow: none;
  color: #000066;
  background: #ffffff;
}

/* フッター */

footer {
  margin-top: 40px;
}
.copyright {
  font-size: 15px;
}
